@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.mentor{

	background: url(../img/back3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 130vh;
	display: flex;
	align-content: center;
	align-items: center;
	
}
.caja {
   background: ;
   border: none;
   border-radius:  5px;
   font-size: 20px;
   height: 40px;
   padding: 5px;
   width: 250px;
   margin-left: 40px;
   margin-right: 40px;
}
.caja select {
   background: ;
   border: none;
   border-radius:  5px;
   font-size: 20px;
   height: 40px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}
 .container input{
	height: 50px;
	margin: 0px;
	margin-left: 5px;
	border: 0px;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 30%;
}
.icono{
	font-size: 30px;
	color: #aaa;
	padding: 10px;
}