@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html,body{

	
}
.divregister{

	background: url(../img/back3.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	display: flex;
	align-content: center;
	align-items: center;
	
}
.divregister .container{
	width: 200%;
	text-align: center;


}
.divregister .container .divcont{
    width: 100%;
    height: :500px;
    max-width: 500px;
    background: rgba(71,82,94,0.7);
    padding: 30px;
    border-radius: 5px;
    display: inline-block;
}
.divregister .container .divcont h1 h3{
	margin-top: 20px;
	
}
.divregister .container .divcont input{
	height: 50px;
	margin: 0px;
	border: 0px;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 70%;
}

.divregister .container .divcont select{
	 background:;
	 border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
     border-radius: 3px;
     margin-bottom: 10px;
}

.divregister .container .divcont button{
	margin: 0px;
	border: 0px;
	display: block;
	margin: auto;
	padding: 10px 30px;
	background: #333;
	color: #fff;
}
.divregister .container .divcont input.error{
	border-bottom: 3px solid red;
}

.divregister .container .divcont a{
	font-size: 12px;
	margin-right: 15px;
	color: #fff

}