<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie.edge">
    <title>Crear Tutoria</title>
    <link rel="icon" type="image/png" href="assets/img/favicon2.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/mentor.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/webcss.min.css" rel="stylesheet">

 </head>
<body>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="index.html">ASIR</a>
      
        <select  class="caja" v-model="form.areas"> 
          <option v-for="area in areas">{{ area }}</option>
        </select>
        <input type="text" name="" placeholder="Encuentra lo que buscas">
        
        <i class="icono fas fa-search"></i>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3  rounded js-scroll-trigger" href="#mainNav">Tutor</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""><del>Estudiante</del></a>
          </li>
        </ul>
      </div>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="far fa-heart"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="far fa-bell"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
          <i class="far fa-user-circle"></i>
        </a>
      </li>
    </div>
  </nav>
<div class="rectangle" >  <h1 class="dash">Dashboard del tutor</h1> </div>
<br>

    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <script>
        ;
        ((d, c, f) => {
            const config = {
                apiKey: "AIzaSyA-PEfy880E6VlYJNBuKmP_sdB4FaOp3kQ",
                authDomain: "edfirebase-6f24b.firebaseapp.com",
                databaseURL: "https://edfirebase-6f24b.firebaseio.com",
                projectId: "edfirebase-6f24b",
                storageBucket: "edfirebase-6f24b.appspot.com",
                messagingSenderId: "971660403208"
            }
            f.initializeApp(config)

            <div class="progress"  style="height: 30px;">
    <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<section class="bg-primary" id="">
    <div class="container">
        <h3 class="text-center  text-secondary mb-0">Dale un nombre a tu tutoria</h3> <br>
        <h5 class="text-center  text-secondary mb-0">Intenta ser claro</h5> <br> <br>
        <form action="" id="nombre">
         <div align="center">
             <input  type="text" id="nombrecen" name="nombre" placeholder="Por ejemplo: maternidad de gallinas for Dummies" required>
         </div>
            <div align="right" class="form-group">
                 <button formaction="" type="submit" class="btn btn-primary btn-xl" id="sendMessageButton" onclick="window.location.href='cmentoria2.html'" >Siguiente</button>
            </div>

         </form>

     </div>
</section>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
  </div>


  <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>


  <script src="js/webjs.min.js"></script>

  <script src="assets/js/vue.js"></script>
  <script src="assets/js/mentor.js"></script>
</body> 