<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/png" href="assets/img/favicon2.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie.edge">
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<div class="divregister">
		<div class="container">
			<div class="divcont">	
				<h1>{{ title }}</h1>
				<h4><h4>
				<form class="formulario" @submit.prevent="sendform()">
					<input type="text" v-if="form.type!=0"  v-show="form.type!=2" placeholder="Nombre" >
					<input type="email" :class="{'error':validaEmail}" placeholder="Email" v-model="form.email">
					<input type="password" v-if="form.type!=2" :class="{'error':validaPassword}" placeholder="Contraseña" v-model="form.password">
					<input type="password" v-if="form.type==1" :class="{'error':validaRepetirPassword}" placeholder="Repetir contraseña" v-model="form.passwordos">
					<select v-model="areas" v-if="form.type!=0" v-show="form.type!=2">	
						<option v-for="area in areas">{{ area }}</option>
					</select>
					<button>Enviar</button>
					
					<a href="javascript:void(0)" @click="form.type=2" v-if="form.type!=2" >Recuper contraseña</a>
                    <a href="javascript:void(0)" @click="form.type=1" v-if="form.type!=1" >Registrarme</a>
                    <a href="javascript:void(0)" @click="form.type=0" v-if="form.type!=0" >Iniciar sesión</a>
				</form>
			</div>
		</div>
	</div>
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/registro.js"></script>



</body>
</html>